
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
   background-color: lightgray;
   text-align: center;
   width: 400px;
   padding: 10px;
   border-radius: 5px;
     
}

input,textarea,select{
    border: none;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
}
.button{
    color: #ffffff;
    background-color: #525252;
}
