

        body{background-color: grey;}
        div{background-color: lightgray; margin: 10px;padding: 10px;border-radius: 10px;}
        table{width: 100%;text-align: center;}
        img{align-content: center;}
        th{color: white;background-color: #595959;}
        p {
            line-height: 1.5;
          }

          
          
        


 