*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    text-align: center;}



h1{
    font-size: 60px;
    color:white;
    font-family: monospace;
}
h2{
    font-size: 60px;
    color:  grey;
    
}
.button{

}
p{
    font-size: 25px;
}
header{
    background-color: #212b38;
    
    
    padding: 25px;
}

/*12343b*/
header h1{
    color: white ;
}
nav{

    background-color:#31465b ;
    opacity: 0.8;
    padding: 10px;  
    
    font-size: 18px;
    

}
nav a{
    text-decoration: none;
    padding: 10PX 25px;
    display: inline-block;
    color: white;
}
nav a:hover{
    background-color: #212b38;
    color: white;
    

}

section h1 ,h2{
    color: #212b38;
}



.img-width img,figure{
    display: inline;
    width: 400px;
    height: 300px;
    margin: 10px;
    
    
}



.our-packages figure{
    box-shadow: 0 0 5px black;
    width: 300px;
    display: inline-block;
    margin: 20px;
    padding: 10px;



}
.our-packages figure img{
   
    width: 100%;

}
.our-packages figure figcaption{
    font-size: 30px;
    margin: 10px;
    padding-top: 10px;
}

.our-packages figure p{

    font-size: 15px;
}
footer{
    background-color: #3D3D3D;
    color: #d3d3d3;
    padding: 20px;
}
.op figure{
    box-shadow: 10px;
}





/* CSS */
.button {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: right;
}

.button:hover {
  background-color: rgb(249,250,251);
  opacity: 100%;
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}

.home-section, .places p{
    line-height: 1.5;
    
}
.places p{
    line-height: 1.5;}

section{
    box-shadow: 10px;
}
.op{
    im
}